.expense-date {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 60px;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 12px;
  font-weight: bold;
}

.expense-date__year {
  font-size: 14px;
}

.expense-date__day {
  font-size: 18px;
  font-weight: bold;
}
